body {
  margin: 0;
  font-family: 'Anybody', cursive;
  font-size: 12px;
  color: #0f1419;
  letter-spacing: 1.2px;
}

h2 {
  margin: 0;
}

#resume-body {
  height: 100%;
  display: flex;
}

#side {
  width: 33.333%;
  padding: 24px 0px;
  background: #2c5977;
  color: white;
  list-style-position: inside;
  height: 100%;
  min-height: 100vh;
}


#side ul {
  padding-left: 56px;
}

#side li {
  margin: 12px 0;
}

#side .title {
  margin-top: 36px;
  border-bottom: 2px solid white;
}

#side h2 {
  margin-left: 56px;
  font-weight: normal;
}

#avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 999px;
}

#avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#contacts li {
  list-style: none;
}

#contacts .icon {
  background: white;
  border-radius: 999px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  color: #2c5977;
}

#main {
  padding: 24px 48px;
  flex: 1;
  background-color: #dcdcdc;
}

#main h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
  color: #2c5977;
}

#main h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
  color: #2c5977;
}

#main .title {
  border-bottom: 2px solid #2c5977;
}

section {
  margin-top: 36px;
}

#main .company-name {
  font-weight: bold;
}
